@{
    ViewBag.Title = "Home Page Admin";
}
<link href="/Content/StyleSheet.css" rel="stylesheet" />
<div class="jumbotron">
   @*<h2>Ba Technologies</h2>*@ <img src="http://www.batechnic.dk/images/logo.png" />
    <p class="lead">Overblik giver ny energi</p>
    <p>
        <a href="http://www.batechnic.dk/" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
    

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Energi</h2>
        <h4>Samlet i ét System</h4>
        <p>
            Forbrugsafregning • Visualisering af Forbrug • Energistyring
        </p>
        <p>
            <a class="btn btn-default" href="http://www.batechnic.dk/">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Fleksibilitet</h2>
        <h4>Åbenhed, integration</h4>
        <p>- og data direkte i administrations-systemet</p>
        <br/>
        <p>
            <a class="btn btn-default" href="http://www.batechnic.dk/">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Tryghed</h2>
        <h4>'Full Service Concept'</h4>
        <p>Dynamisk Dropbox dokumentation fastholder overblikket</p>
        <p>
            <a class="btn btn-default" href="http://www.batechnic.dk/">Learn more &raquo;</a>
        </p>
    </div>
</div>